N8N_BASIC_AUTH_ACTIVE=
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=

# NeonDB Postgres Connection
POSTGRESQL_HOST=
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
N8N_USER_EMAIL=
N8N_USER_PASSWORD=

# secret key for encryption
N8N_ENCRYPTION_KEY=
N8N_USER_MANAGEMENT_JWT_SECRET=

# Webhook URL (set if deploying on AWS)
# research what is this webhook for
WEBHOOK_URL=https://your-public-url.com/


